body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}


.intro-area{
    padding: 80px 0px;
    overflow: hidden;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .intro-text{
        margin-top: 12%;
    }
}

.half-side{
    width: 40%;
    float: left;
    padding: 0 5%;
    h4{
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
    h2{
        font-size: 50px;
        text-transform: uppercase;
        color: #FF428D;
        letter-spacing: 3px;
        margin: 0;
    }
    p{
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .cs-btn{
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        background-image: linear-gradient(45deg, orange, tomato);
        padding: 5px 20px;
        text-decoration: none;
        font-weight: 600;
        border-radius: 3px;
        letter-spacing: 3px;
    }
    .img-responsive{
        width: 100%;
    }
}

.bio-area{
    padding: 80px 0px;
    overflow: hidden;
    background-image: url(../images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .bio-text{
        margin-top: 15%;
    }
}



.latest-work{
    padding: 50px 0px;
    overflow: hidden;
    background-image: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    h2{
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .single-work{
        width: 32%;
        float: left;
        padding: 10px;
        .img-responsive{
            width: 100%;
        }
    }
}